# Ignore environment files
.env

# Strapi system files
.strapi/
.strapi-updater.json
.tmp/

# Build outputs
dist/
build/

# Logs
*.log

# Node modules
node_modules/

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
